.footer {
    max-width: 120rem;
    color: var(--color-footer-text);
    border-top: 1px solid var(--color-container-bg);
}

.footer .header-nav--footer ul {
    gap: 1.5rem;
}

.footer .header-nav--footer ul li .nav-link {
    color: var(--color-footer-nav);
    font-weight: 100;
    font-size: small;
}

.footer .header-nav--footer ul li .nav-link:hover {
    color: var(--color-text-highlight);
}

.footer .header-nav--footer ul li .nav-link:active {
    color: var(--color-text-link-active);
}

.footer {
    margin-top: 2rem;
}