.experience-card {
    border-radius: 10px;
    padding: 5% 7%;
    background-color: var(--color-container-bg-2);
    max-width: 100%;
    min-height: 20rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.experience-card ul {
    margin-left: -1.2rem;
}

.experience-card ul li {
    margin-top: 0.4rem;
    padding-left: 1rem;
}

.experience-card h3 {
    margin-top: 0.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-card-border);
    text-align: center;
}

.experience-card blockquote {
    margin: 1rem 0;
    padding-left: 1rem;
    font-style: italic;
}

@media print {
    .experience-card h3 {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 2rem;
        visibility: show;
        text-align: left;
        font-size: 1.1rem;
    }

    .experience-card {
        box-shadow: none;
        border: none;
        width: 100%;
        padding: 0;
        background-color: transparent;
        color: black;
        text-align: left;
        font-size: 0.9rem;
    }

    .experience-card ul {
        margin-left: 0;
        list-style: none;
        margin-left: -3rem;
    }
    .experience-card blockquote {
        font-size: 0.8rem;
    }
}
