* {
  box-sizing: border-box;
}

:root {
  font-family: "Arvo", serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: #414141;
  --color-text: #c9c9c9;
  --color-container-bg: #595959;
  --color-container-bg-2: #6c6c6c;
  --color-card-border: #7c7c7c;
  --color-footer-nav: #696969;
  --color-footer-text: #818181;
  --color-logo-border-header: #868686;
  --color-submit-button-bg-disabled: #696969;
  --color-submit-button-bg: #818181;
  --color-submit-button-text-disabled: #818181;
  --color-submit-button-text: #ededed;
  --color-figcaption: #555555;

  --color-text-highlight: #ff7b1c;
  --color-text-link-active: #f07924;
  --color-text-link-hover: #ff9447;

  background-color: var(--color-bg);
  color: var(--color-text);
}

/* :root .light {

} */

:root .dark {
  --color-bg: #414141;
  --color-text: #c9c9c9;
  --color-container-bg: #595959;
  --color-container-bg-2: #6c6c6c;
  --color-card-border: #7c7c7c;
  --color-footer-nav: #696969;
  --color-footer-text: #818181;
  --color-logo-border-header: #868686;
  --color-submit-button-bg-disabled: #696969;
  --color-submit-button-bg: #818181;
  --color-submit-button-text-disabled: #818181;
  --color-submit-button-text: #ededed;
  --color-figcaption: #555555;

  --color-text-highlight: #ff7b1c;
  --color-text-link-active: #f07924;
  --color-text-link-hover: #ff9447;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

.App {
  width: min(120rem, calc(100% - 2rem));
  margin: 1.5rem auto;
}

a {
  text-decoration: none;
  color: var(--color-text-highlight)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  max-width: 120rem;
  font-family: "Michroma", sans-serif;
  text-shadow: 2px 2px 4px rgb(0, 0 , 0, 0.2);
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) {
  
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
